<h1>{{ "customerRegistration" | transloco }}</h1>
<form class="form" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{ "names" | transloco }}</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ "lastName" | transloco }}</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ "enterYourEmail" | transloco }}</mat-label>
    <input
      type="email"
      matInput
      placeholder="pat@example.com"
      formControlName="email"
    />
    <mat-error>{{ "errors.invalidEmail" | transloco }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button">
    {{ "save" | transloco }}
  </button>
</form>
<!-- <h3>Todos los campos del formulario son obligatorios.</h3> -->
<ng-container *transloco="let t; lang: 'en|static'">
  <h3>{{ t("info") }}</h3>
</ng-container>
