<h1>Registro de clientes</h1>
<form class="form">
  <mat-form-field appearance="fill">
    <mat-label>Nombres</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellidos</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrese su Email</mat-label>
    <input matInput placeholder="pat@example.com" />
    <mat-error>Debe ingresar un email valido</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button">Guardar</button>
</form>
<h3>Todos los campos del formulario son obligatorios.</h3>
